{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if app.user %}
    <div class="row d-flex justify-content-center">
        <div class="alert alert-primary text-center col-8" role="alert">
            <p>Vous êtes connecté en temps que {{ app.user.username }}</p>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    </div>
    {% else %}
    <div class="row d-flex justify-content-center">
        <form class="d-flex flex-column justify-content-center" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal formular-title d-flex justify-content-center align-items-center">Formulaire de connexion</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg btn-primary mt-3 underline" type="submit">
                Connexion
            </button>
        </form>
    </div>
    <div class="row mt-3 d-flex justify-content-center register">
        <p>Vous n'êtes toujours pas inscrit ?</p><a class="pl-2 underline" href="{{ path('app_register') }}">Enregistrez-vous !</a>
    </div>
    {% endif %}
{% endblock %}
