{% extends 'base.html.twig' %}

{% block title %}Livre d'or{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-bold formular-title d-flex justify-content-center align-items-center">Livre d'or</h1>
    <h4 class="h3 mb-3 font-weight-bold formular-title d-flex justify-content-center align-items-center">Ce sont eux qui en parlent le mieux</h4>
    <div class="block-comment row d-flex flex-column justify-content-center">
        <ul class="">
        {% if app.user is not null %}
            <div class="text-center">
                <button class="btn btn-lg">
                    <a href="{{ path('comment_new')}}" class="nav-link text-uppercase font-weight-bold underline">Laissez vous-même un avis</a>
                </button>
            </div>
        {% endif %}
            {% for comment in comments %}
                <hr>
                <section class="">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 mx-auto">
                                <blockquote class="blockquote blockquote-custom bg-white p-4 shadow rounded">
                                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                                    <p class="mb-0 mt-2 font-italic">{{ comment.description }}</p>
                                    <footer class="pt-4 mt-4 border-top">
                                        <div class="author-grade d-flex justify-content-around">
                                            <div class="author">
                                                Message de {{ comment.author.firstname}} {{ comment.author.lastname}} le {{ comment.datetime |date("m/d/Y")}}
                                            </div>
                                            <div class="grade">
                                                {{ comment.grade }} / 5
                                            </div>
                                        </div>
                                        {% if is_granted("ROLE_ADMIN") or app.user is same as comment.author %}
                                        <div class="lot-btn d-flex justify-content-around mt-3">
                                            <div class="update">
                                                <button class="btn btn-lg">
                                                    <a href="{{ path('comment_new')}}">Modifier</a>
                                                </button>
                                            </div>
                                            <div class="suppress">
                                                {{ include('home/comment/_delete_form.html.twig')}}
                                            </div>
                                        </div>
                                        {% endif %}
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
